div{ /*красный фон, белый текст, размер шрифта 32px, по центру, полужирный */
    background-color: red;
    color: blanchedalmond;
    font-size: 32px;
    text-align: center;
    font-weight: 850;
}

p{ /*зеленый фон, белый текст и размер шрифта 18px */
    background-color: rgb(50, 88, 11);
    color: aliceblue;
    font-size: 18px;
}

button{ /*оранжевый фон и размер шрифта 18px*/
    background-color: chocolate;
    font-size: 18px;
}